
.slideshow {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slideshow:hover .slideshow-pause-indicator,
.slideshow:hover .slideshow-nav-button {
  opacity: 1;
}

.slideshow-pause-indicator {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s;
  color: white;
  font-size: 24px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slideshow-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  margin: 20px;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.slideshow-nav-button.prev {
  left: 0;
}

.slideshow-nav-button.next {
  right: 0;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
